@use '../globals' as *;

.main-header {
    font-family: "IBM-medium";

    >nav {
        background-color: $white;
        padding-block: 20px;

        ul {
            li {
                a {
                    color: $primary-color;

                    &.active {
                        color: $secondary-color !important;
                    }
                }
            }
        }

        @media (max-width: 990px) {
            .navbar-brand {
                margin: 0;
            }
        }

        .navbar-collapse {
            ul {
                padding: 0;
            }

            .split-btn-outline {
                margin-inline-start: 0 !important;
            }
        }
    }
}