@use '../globals' as *;

.login-container {
    min-height: calc(100vh - 521px);
    display: flex;
    align-items: center;
}

.login-wrapper {
    display: flex;
    align-items: center;
    //max-width: 80%;
    padding: 2rem 4rem;
    margin: 2rem auto;
    background: linear-gradient(to bottom , #ffffff, #CEEAF0);
    border: 1px solid $secondary-light;
    min-height: 50vh;

    .data {
        flex: 1 1 40%;
        margin-inline-end: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: 990px) {
            margin-inline-end: 0;
        }
        
        h3 {
            color: $primary-color;
            font-size: 1.6rem;
            font-family: "IBM-bold";
        }
        
        p {
            color: $disabled-txt;
            font-size: 1.1rem;
            margin-bottom: 2rem;
        }

        .split-btn {
            min-width: 150px;
            text-align: center;
            &:hover {
                color: $white;
            }
        }

        .split-register {
            font-family: "IBM-semibold";

            a {
                text-decoration: underline;
            }
        }
    }

    img {
        flex: 1 1 30%;
        margin-inline-start: auto;
    }

    @media (max-width: 990px) {
        padding: 2rem;
    }
    @media (max-width: 768px) {
      > img {
        display: none;
       }
    }
}


.otp-group  {
    display: flex;
    input {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 18px;
        margin: 0 5px;
    }
}

.otp-input:focus, .email-otp-input:focus {
    border-color: #007bff;
}