// Animation Utilities

// Grow In Animation

@keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animated--grow-in {
  animation-name: growIn;
  animation-duration: 1200ms;
  animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1),
    opacity cubic-bezier(0, 1, 0.4, 1);
}

// Fade In Animation

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animated--fade-in {
  animation-name: fadeIn;
  animation-duration: 1200ms;
  animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
}

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(45px);
  }
}

.animated--dropdown {
  animation-name: dropDown;
  animation-duration: 500ms;
  animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
}


.autoShow {
  animation: autoShowAnimation;
  animation-timeline: view(40% auto);
}

@keyframes autoShowAnimation {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}