// Animation Utilities

// Grow In Animation

@keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animated--grow-in {
  animation-name: growIn;
  animation-duration: 1200ms;
  animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1),
    opacity cubic-bezier(0, 1, 0.4, 1);
}

// Fade In Animation

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translate(-100px, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(0%, -50%);
  }
}

.animated--moveRight {
  animation-name: moveRight;
  animation-duration: 1200ms;
  animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1),
  opacity cubic-bezier(0, 1, 0.4, 1);
}

 

.autoShow {
  animation: autoShowAnimation;
  animation-timeline: view(40% auto);
}

@keyframes autoShowAnimation {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.moving {
  animation: movingAnimation 1s linear infinite backwards;
}

@keyframes movingAnimation {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    transform: translateX(-20px);
    opacity: 1;
  }
}

@keyframes movingDownAnimation {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}