$primary-color: #262E5C;
$secondary-color: #4CC2BF;
$text-color: #002F56;
$secondary-light: #E7F4F7;
$white: #FFFFFF;
$disabled-txt: #6C737F;
$muted-txt: #B3B6B7;
$success: #0A8944;
$error: #C73434;
$warning: #D8853D;




@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($main-black, 100%);
        //color: darken ($white, 100%);
    }
}